@import "UTF-8";
@font-face {
    font-family: 'tech';
    src: url(../fonte/Technotot.otf);
}
:root{
    /*Variable colors*/
    --cor: #0C2C70;
    --cor: #6391F2;
    --cor: #1A5EF0;
    --cor: #2E4370;
    --cor: #154ABD;

    /*Variable Fonts*/
    --tech: 'tech', cursive;
    --normal: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--normal);
}


/*CONFIGURAÇÔES GERAIS*/
body{
    background-color: #0C2C70;
}
main{
    background-color: white;
}

/*Cabeçalho*/
header{
    background-color: #1A5EF0;
}
header > h1{
    font-family: var(--tech);
    font-size: 1.6em;
    color: white;
    text-align: center;
    padding: 3px;
}
header>h1::first-letter{
    font-size: 1.7em;
}

/*Imagem de Fundo*/
.image{
    background-color: #0C2C70;
    background-image: url(../imagem/pexels-thisisengineering-3861969.jpg);
    background-repeat: no-repeat;
    height: 37em;
    width: 100%;
    background-position: center;
    box-shadow: inset 0px 0px 20px 10px;
}

/*Titulo Central*/
.title{
    padding: 13em 0 5em 0;
}
.title > h1{
    font-size: 3em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px black;
   
    
}
.title > hr{
    max-width: 10%;
    margin: auto;
}

/*Descrição da cifra*/
.text{
    display: flex;
    padding: 3%;
}
.text > hr {
    width: 7px;
    background-color: #0C2C70;
}

/*CONFIGURAÇÕES ESPECIFICAS DESKTOP*/

.desktop{
    display: block;
}

/*CONFIGURAÇÕES ESPECIFICAS MOBILE*/

.mobile{
    display: none;
    background-color: rebeccapurple;
}
@media(max-width: 800px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile .image{
        background-image: url(../imagem/pexels-thisisengineering-3861969_850.jpg);
        height: 34em;
    }
    .mobile .title > hr{
        max-width: 25%;
    }
}
@media(max-width: 1400px){
    .image{
        background-image: url(../imagem/pexels-thisisengineering-3861969_1350.jpg);
    }
}